<!DOCTYPE html>
<html>
  <head>
    <title>FriendZone</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <h1> FriendZone </h1>
    <hr>
    {{{body}}}
  </body>
</html>
