<h1> FriendZone </h1>

<p> It's hard to make friends these days. Here are some people who are looking to make friends in your city</p>

<div class="grid">
{{#each people}}
    <div class="card">
       
        <h2>{{name}}</h2> 
            <br>
                {{#if basketball}}
                <h3>Basketball</h3>
                {{/if}}  
            <br>
                {{#if photography}}
                <h3>Photography</h3>
                {{/if}}  
            <br>
                {{#if dancing}}
                <h3>Dancing</h3>
                {{/if}}  
            <br>
                {{#if hiking}}
                <h3>Hiking</h3>
                {{/if}}  
            <br>
                {{#if racing}}
                <h3>Racing</h3>
                {{/if}}  
            <br>
                {{#if gaming}}
                <h3>Gaming</h3>
                {{/if}}  
            <br>
                {{#if geocaching}}
                <h3>Geocaching</h3>
                {{/if}}  
            <br>
                {{#if scrapbooking}}
                <h3>Scrapbooking</h3>
                {{/if}}  
            <br>
                {{#if writing}}
                <h3>Writing</h3>
                {{/if}}  
            <br>

    </div>
{{#each people}}
</div>